/* 
    Document   : products
    Created on : 17-06-2012, 10:30:47
    Author     : jhummel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#campaigns {
    clear: both;
    width: 920px;
    margin: 0px auto;
    padding: 20px 0;
}

#campaignMedia ul {
    float: left;
    width: 60%;
}

#campaignMedia ul:first-child {
    width: 40%;
}

#campaignPDFPreview {
    height: 250px;
    width: 400px;
}

.progress { position:relative; width:100%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; clear: both;}
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }