
body {
    background-attachment: fixed;
    background-image: url(../gfx/bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
	font-family: 'Droid Serif', serif;
	line-height:140%;
	font-size:100%;
}
a {text-decoration: none; color:#666;}

.content {
	max-width:600px;
	min-height:400px;
	background-color:rgba(256,256,256, 0.6);
	border:#999 1px solid;
	margin: 5% 10%;
	padding:1%}
.logo {width:50%; float:left;}
.vcard {text-align:center; font-size:85%;}
.right {float:right; margin-left:4px;}

